.n-modal-container {

 position: fixed;
 left: 0;
 top: 0;
 height: 0;
 width: 0;
 display: flex;
 
}

.n-modal-mask {

 position: fixed;
 left: 0;
 right: 0;
 top: 0;
 bottom: 0;
 background-color: rgba(0, 0, 0, .4);
 
}

.n-modal-mask.fade-in-transition-enter-active {
  transition: all .25s var(--n-bezier-ease-out)!important;
}

.n-modal-mask.fade-in-transition-leave-active {
  transition: all .25s var(--n-bezier-ease-out)!important;
}

.n-modal-mask.fade-in-transition-enter-from, .n-modal-mask.fade-in-transition-leave-to {
  opacity: 0;
}

.n-modal-mask.fade-in-transition-leave-from, .n-modal-mask.fade-in-transition-enter-to {
  opacity: 1;
}

.n-modal-body-wrapper {

 position: fixed;
 left: 0;
 right: 0;
 top: 0;
 bottom: 0;
 overflow: visible;
 
}

.n-modal-body-wrapper .n-modal-scroll-content {

 min-height: 100%;
 display: flex;
 position: relative;
 
}

.n-modal {

 position: relative;
 align-self: center;
 color: var(--n-text-color);
 margin: auto;
 box-shadow: var(--n-box-shadow);
 
}

.n-modal.fade-in-scale-up-transition-leave-active {
  transform-origin: inherit;
  transition: opacity .25s cubic-bezier(.4, 0, 1, 1), transform .25s cubic-bezier(.4, 0, 1, 1) ;
}

.n-modal.fade-in-scale-up-transition-enter-active {
  transform-origin: inherit;
  transition: opacity .25s cubic-bezier(0, 0, .2, 1), transform .25s cubic-bezier(0, 0, .2, 1) ;
}

.n-modal.fade-in-scale-up-transition-enter-from, .n-modal.fade-in-scale-up-transition-leave-to {
  opacity: 0;
  transform:  scale(.5);
}

.n-modal.fade-in-scale-up-transition-leave-from, .n-modal.fade-in-scale-up-transition-enter-to {
  opacity: 1;
  transform:  scale(1);
}

/* === 分隔符 === */

.v-binder-follower-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 0;
  pointer-events: none;
  z-index: auto;
}

.v-binder-follower-content {
  position: absolute;
  z-index: auto;
}

.v-binder-follower-content > * {
  pointer-events: all;
}

/* === 分隔符 === */

body {

 margin: 0;
 font-size: 14px;
 font-family: v-sans, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
 line-height: 1.6;
 -webkit-text-size-adjust: 100%;
 -webkit-tap-highlight-color: transparent;

}

body input {

 font-family: inherit;
 font-size: inherit;
 
}

/* === 分隔符 === */

.n-popover {

 transition:
 box-shadow .3s var(--n-bezier),
 background-color .3s var(--n-bezier),
 color .3s var(--n-bezier);
 position: relative;
 font-size: var(--n-font-size);
 color: var(--n-text-color);
 box-shadow: var(--n-box-shadow);
 word-break: break-word;
 
}

.n-popover > .n-scrollbar {

 height: inherit;
 max-height: inherit;
 
}

.n-popover:not(.n-popover--raw) {

 background-color: var(--n-color);
 border-radius: var(--n-border-radius);
 
}

.n-popover:not(.n-popover--raw):not(.n-popover--scrollable):not(.n-popover--show-header-or-footer) {
padding: var(--n-padding);
}

.n-popover .n-popover__header {

 padding: var(--n-padding);
 border-bottom: 1px solid var(--n-divider-color);
 transition: border-color .3s var(--n-bezier);
 
}

.n-popover .n-popover__footer {

 padding: var(--n-padding);
 border-top: 1px solid var(--n-divider-color);
 transition: border-color .3s var(--n-bezier);
 
}

.n-popover.n-popover--scrollable .n-popover__content, .n-popover.n-popover--show-header-or-footer .n-popover__content {

 padding: var(--n-padding);
 
}

.n-popover-shared {

 transform-origin: inherit;
 
}

.n-popover-shared .n-popover-arrow-wrapper {

 position: absolute;
 overflow: hidden;
 pointer-events: none;
 
}

.n-popover-shared .n-popover-arrow-wrapper .n-popover-arrow {

 transition: background-color .3s var(--n-bezier);
 position: absolute;
 display: block;
 width: calc(var(--n-arrow-height) * 1.414);
 height: calc(var(--n-arrow-height) * 1.414);
 box-shadow: 0 0 8px 0 rgba(0, 0, 0, .12);
 transform: rotate(45deg);
 background-color: var(--n-color);
 pointer-events: all;
 
}

.n-popover-shared.popover-transition-enter-from, .n-popover-shared.popover-transition-leave-to {

 opacity: 0;
 transform: scale(.85);
 
}

.n-popover-shared.popover-transition-enter-to, .n-popover-shared.popover-transition-leave-from {

 transform: scale(1);
 opacity: 1;
 
}

.n-popover-shared.popover-transition-enter-active {

 transition:
 box-shadow .3s var(--n-bezier),
 background-color .3s var(--n-bezier),
 color .3s var(--n-bezier),
 opacity .15s var(--n-bezier-ease-out),
 transform .15s var(--n-bezier-ease-out);
 
}

.n-popover-shared.popover-transition-leave-active {

 transition:
 box-shadow .3s var(--n-bezier),
 background-color .3s var(--n-bezier),
 color .3s var(--n-bezier),
 opacity .15s var(--n-bezier-ease-in),
 transform .15s var(--n-bezier-ease-in);
 
}

[v-placement="top-start"] > .n-popover-shared {

 margin-bottom: var(--n-space);
 
}

[v-placement="top-start"] > .n-popover-shared.n-popover-shared--show-arrow {

 margin-bottom: var(--n-space-arrow);
 
}

[v-placement="top-start"] > .n-popover-shared.n-popover-shared--overlap {

 margin: 0;
 
}

[v-placement="top-start"] > .n-popover-shared > .n-popover-arrow-wrapper {

 right: 0;
 left: 0;
 top: 0;
 bottom: 0;
 top: 100%;
 bottom: auto;
 height: var(--n-space-arrow);
 
}

[v-placement="top-start"] > .n-popover-shared > .n-popover-arrow-wrapper .n-popover-arrow {

 top: calc(var(--n-arrow-height) * 1.414 / -2);
 left: calc(var(--n-arrow-offset) - var(--v-offset-left));
 
}

[v-placement="top"] > .n-popover-shared {

 margin-bottom: var(--n-space);
 
}

[v-placement="top"] > .n-popover-shared.n-popover-shared--show-arrow {

 margin-bottom: var(--n-space-arrow);
 
}

[v-placement="top"] > .n-popover-shared.n-popover-shared--overlap {

 margin: 0;
 
}

[v-placement="top"] > .n-popover-shared > .n-popover-arrow-wrapper {

 right: 0;
 left: 0;
 top: 0;
 bottom: 0;
 top: 100%;
 bottom: auto;
 height: var(--n-space-arrow);
 
}

[v-placement="top"] > .n-popover-shared > .n-popover-arrow-wrapper .n-popover-arrow {

 top: calc(var(--n-arrow-height) * 1.414 / -2);
 transform: translateX(calc(var(--n-arrow-height) * 1.414 / -2)) rotate(45deg);
 left: 50%;
 
}

[v-placement="top-end"] > .n-popover-shared {

 margin-bottom: var(--n-space);
 
}

[v-placement="top-end"] > .n-popover-shared.n-popover-shared--show-arrow {

 margin-bottom: var(--n-space-arrow);
 
}

[v-placement="top-end"] > .n-popover-shared.n-popover-shared--overlap {

 margin: 0;
 
}

[v-placement="top-end"] > .n-popover-shared > .n-popover-arrow-wrapper {

 right: 0;
 left: 0;
 top: 0;
 bottom: 0;
 top: 100%;
 bottom: auto;
 height: var(--n-space-arrow);
 
}

[v-placement="top-end"] > .n-popover-shared > .n-popover-arrow-wrapper .n-popover-arrow {

 top: calc(var(--n-arrow-height) * 1.414 / -2);
 right: calc(var(--n-arrow-offset) + var(--v-offset-left));
 
}

[v-placement="bottom-start"] > .n-popover-shared {

 margin-top: var(--n-space);
 
}

[v-placement="bottom-start"] > .n-popover-shared.n-popover-shared--show-arrow {

 margin-top: var(--n-space-arrow);
 
}

[v-placement="bottom-start"] > .n-popover-shared.n-popover-shared--overlap {

 margin: 0;
 
}

[v-placement="bottom-start"] > .n-popover-shared > .n-popover-arrow-wrapper {

 right: 0;
 left: 0;
 top: 0;
 bottom: 0;
 bottom: 100%;
 top: auto;
 height: var(--n-space-arrow);
 
}

[v-placement="bottom-start"] > .n-popover-shared > .n-popover-arrow-wrapper .n-popover-arrow {

 bottom: calc(var(--n-arrow-height) * 1.414 / -2);
 left: calc(var(--n-arrow-offset) - var(--v-offset-left));
 
}

[v-placement="bottom"] > .n-popover-shared {

 margin-top: var(--n-space);
 
}

[v-placement="bottom"] > .n-popover-shared.n-popover-shared--show-arrow {

 margin-top: var(--n-space-arrow);
 
}

[v-placement="bottom"] > .n-popover-shared.n-popover-shared--overlap {

 margin: 0;
 
}

[v-placement="bottom"] > .n-popover-shared > .n-popover-arrow-wrapper {

 right: 0;
 left: 0;
 top: 0;
 bottom: 0;
 bottom: 100%;
 top: auto;
 height: var(--n-space-arrow);
 
}

[v-placement="bottom"] > .n-popover-shared > .n-popover-arrow-wrapper .n-popover-arrow {

 bottom: calc(var(--n-arrow-height) * 1.414 / -2);
 transform: translateX(calc(var(--n-arrow-height) * 1.414 / -2)) rotate(45deg);
 left: 50%;
 
}

[v-placement="bottom-end"] > .n-popover-shared {

 margin-top: var(--n-space);
 
}

[v-placement="bottom-end"] > .n-popover-shared.n-popover-shared--show-arrow {

 margin-top: var(--n-space-arrow);
 
}

[v-placement="bottom-end"] > .n-popover-shared.n-popover-shared--overlap {

 margin: 0;
 
}

[v-placement="bottom-end"] > .n-popover-shared > .n-popover-arrow-wrapper {

 right: 0;
 left: 0;
 top: 0;
 bottom: 0;
 bottom: 100%;
 top: auto;
 height: var(--n-space-arrow);
 
}

[v-placement="bottom-end"] > .n-popover-shared > .n-popover-arrow-wrapper .n-popover-arrow {

 bottom: calc(var(--n-arrow-height) * 1.414 / -2);
 right: calc(var(--n-arrow-offset) + var(--v-offset-left));
 
}

[v-placement="left-start"] > .n-popover-shared {

 margin-right: var(--n-space);
 
}

[v-placement="left-start"] > .n-popover-shared.n-popover-shared--show-arrow {

 margin-right: var(--n-space-arrow);
 
}

[v-placement="left-start"] > .n-popover-shared.n-popover-shared--overlap {

 margin: 0;
 
}

[v-placement="left-start"] > .n-popover-shared > .n-popover-arrow-wrapper {

 right: 0;
 left: 0;
 top: 0;
 bottom: 0;
 left: 100%;
 right: auto;
 width: var(--n-space-arrow);
 
}

[v-placement="left-start"] > .n-popover-shared > .n-popover-arrow-wrapper .n-popover-arrow {

 left: calc(var(--n-arrow-height) * 1.414 / -2);
 top: calc(var(--n-arrow-offset-vertical) - var(--v-offset-top));
 
}

[v-placement="left"] > .n-popover-shared {

 margin-right: var(--n-space);
 
}

[v-placement="left"] > .n-popover-shared.n-popover-shared--show-arrow {

 margin-right: var(--n-space-arrow);
 
}

[v-placement="left"] > .n-popover-shared.n-popover-shared--overlap {

 margin: 0;
 
}

[v-placement="left"] > .n-popover-shared > .n-popover-arrow-wrapper {

 right: 0;
 left: 0;
 top: 0;
 bottom: 0;
 left: 100%;
 right: auto;
 width: var(--n-space-arrow);
 
}

[v-placement="left"] > .n-popover-shared > .n-popover-arrow-wrapper .n-popover-arrow {

 left: calc(var(--n-arrow-height) * 1.414 / -2);
 transform: translateY(calc(var(--n-arrow-height) * 1.414 / -2)) rotate(45deg);
 top: 50%;
 
}

[v-placement="left-end"] > .n-popover-shared {

 margin-right: var(--n-space);
 
}

[v-placement="left-end"] > .n-popover-shared.n-popover-shared--show-arrow {

 margin-right: var(--n-space-arrow);
 
}

[v-placement="left-end"] > .n-popover-shared.n-popover-shared--overlap {

 margin: 0;
 
}

[v-placement="left-end"] > .n-popover-shared > .n-popover-arrow-wrapper {

 right: 0;
 left: 0;
 top: 0;
 bottom: 0;
 left: 100%;
 right: auto;
 width: var(--n-space-arrow);
 
}

[v-placement="left-end"] > .n-popover-shared > .n-popover-arrow-wrapper .n-popover-arrow {

 left: calc(var(--n-arrow-height) * 1.414 / -2);
 bottom: calc(var(--n-arrow-offset-vertical) + var(--v-offset-top));
 
}

[v-placement="right-start"] > .n-popover-shared {

 margin-left: var(--n-space);
 
}

[v-placement="right-start"] > .n-popover-shared.n-popover-shared--show-arrow {

 margin-left: var(--n-space-arrow);
 
}

[v-placement="right-start"] > .n-popover-shared.n-popover-shared--overlap {

 margin: 0;
 
}

[v-placement="right-start"] > .n-popover-shared > .n-popover-arrow-wrapper {

 right: 0;
 left: 0;
 top: 0;
 bottom: 0;
 right: 100%;
 left: auto;
 width: var(--n-space-arrow);
 
}

[v-placement="right-start"] > .n-popover-shared > .n-popover-arrow-wrapper .n-popover-arrow {

 right: calc(var(--n-arrow-height) * 1.414 / -2);
 top: calc(var(--n-arrow-offset-vertical) - var(--v-offset-top));
 
}

[v-placement="right"] > .n-popover-shared {

 margin-left: var(--n-space);
 
}

[v-placement="right"] > .n-popover-shared.n-popover-shared--show-arrow {

 margin-left: var(--n-space-arrow);
 
}

[v-placement="right"] > .n-popover-shared.n-popover-shared--overlap {

 margin: 0;
 
}

[v-placement="right"] > .n-popover-shared > .n-popover-arrow-wrapper {

 right: 0;
 left: 0;
 top: 0;
 bottom: 0;
 right: 100%;
 left: auto;
 width: var(--n-space-arrow);
 
}

[v-placement="right"] > .n-popover-shared > .n-popover-arrow-wrapper .n-popover-arrow {

 right: calc(var(--n-arrow-height) * 1.414 / -2);
 transform: translateY(calc(var(--n-arrow-height) * 1.414 / -2)) rotate(45deg);
 top: 50%;
 
}

[v-placement="right-end"] > .n-popover-shared {

 margin-left: var(--n-space);
 
}

[v-placement="right-end"] > .n-popover-shared.n-popover-shared--show-arrow {

 margin-left: var(--n-space-arrow);
 
}

[v-placement="right-end"] > .n-popover-shared.n-popover-shared--overlap {

 margin: 0;
 
}

[v-placement="right-end"] > .n-popover-shared > .n-popover-arrow-wrapper {

 right: 0;
 left: 0;
 top: 0;
 bottom: 0;
 right: 100%;
 left: auto;
 width: var(--n-space-arrow);
 
}

[v-placement="right-end"] > .n-popover-shared > .n-popover-arrow-wrapper .n-popover-arrow {

 right: calc(var(--n-arrow-height) * 1.414 / -2);
 bottom: calc(var(--n-arrow-offset-vertical) + var(--v-offset-top));
 
}

[v-placement="right-start"] > .n-popover-shared.n-popover-shared--center-arrow .n-popover-arrow {
top: calc(max(calc((var(--v-target-height, 0px) - var(--n-arrow-height) * 1.414) / 2), var(--n-arrow-offset-vertical)) - var(--v-offset-top));
}

[v-placement="left-start"] > .n-popover-shared.n-popover-shared--center-arrow .n-popover-arrow {
top: calc(max(calc((var(--v-target-height, 0px) - var(--n-arrow-height) * 1.414) / 2), var(--n-arrow-offset-vertical)) - var(--v-offset-top));
}

[v-placement="top-end"] > .n-popover-shared.n-popover-shared--center-arrow .n-popover-arrow {
right: calc(max(calc((var(--v-target-width, 0px) - var(--n-arrow-height) * 1.414) / 2), var(--n-arrow-offset)) + var(--v-offset-left));
}

[v-placement="bottom-end"] > .n-popover-shared.n-popover-shared--center-arrow .n-popover-arrow {
right: calc(max(calc((var(--v-target-width, 0px) - var(--n-arrow-height) * 1.414) / 2), var(--n-arrow-offset)) + var(--v-offset-left));
}

[v-placement="right-end"] > .n-popover-shared.n-popover-shared--center-arrow .n-popover-arrow {
bottom: calc(max(calc((var(--v-target-height, 0px) - var(--n-arrow-height) * 1.414) / 2), var(--n-arrow-offset-vertical)) + var(--v-offset-top));
}

[v-placement="left-end"] > .n-popover-shared.n-popover-shared--center-arrow .n-popover-arrow {
bottom: calc(max(calc((var(--v-target-height, 0px) - var(--n-arrow-height) * 1.414) / 2), var(--n-arrow-offset-vertical)) + var(--v-offset-top));
}

[v-placement="top-start"] > .n-popover-shared.n-popover-shared--center-arrow .n-popover-arrow {
left: calc(max(calc((var(--v-target-width, 0px) - var(--n-arrow-height) * 1.414) / 2), var(--n-arrow-offset)) - var(--v-offset-left));
}

[v-placement="bottom-start"] > .n-popover-shared.n-popover-shared--center-arrow .n-popover-arrow {
left: calc(max(calc((var(--v-target-width, 0px) - var(--n-arrow-height) * 1.414) / 2), var(--n-arrow-offset)) - var(--v-offset-left));
}